@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    /* Define custom breakpoints */
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1280px;
    --screen-2xl: 1440px;
  }


    /* Example of using these breakpoints globally */
@media (min-width: var(--screen-sm)) {
    .comparison-slider {
      max-width: 100%;
    }
  }
  
  @media (min-width: var(--screen-md)) {
    .comparison-slider {

      max-height: 500px;
    }
  }
  
  @media (min-width: var(--screen-lg)) {
    .comparison-slider {
      max-height: 500px;
    }
  }
  
  @media (min-width: var(--screen-xl)) {
    .comparison-slider {
      max-height: 500px;
    }
  }
  
  @media (min-width: var(--screen-2xl)) {
    .comparison-slider {
      max-height: 500px;
    }
  }
  